:root {
    --primary-color: #f2ab3a;
    --title-color: #F28E3A;
    --btn-main: #F28E3A;
    --btn-second: #F2C23A;
    --btn-main-hover: #F26D3A;
    --btn-second-hover: #F2D73A;
}

* {
    box-sizing: border-box;
    /* border: 1px solid; */
}

body {
    margin: 0;
    padding: 0;
}

.title-color {
    color: var(--title-color);
}

.btn-main {
    background: var(--btn-main);
    border: 1px solid var(--btn-main);
    border-radius: 5px;
    padding: 5px;
}
.btn-main:hover {
    background: var(--btn-main-hover);
}
.btn-main:active {
    background: var(--btn-main-hover);
}

.btn-second {
    background: var(--btn-second);
    border: 1px solid var(--btn-second);
    border-radius: 5px;
    padding: 5px;
}
.btn-second:hover {
    background: var(--btn-second-hover);
}
.btn-second:active {
    background: var(--btn-second-hover);
}

/* Start Header */

.ntl-top {
    width: 100%;
    background-color: var(--primary-color);
}

#logo {
    width: 50%;
    height: 60px;
    object-fit: cover;
    min-width: 140px;
}

.fix-sticky-top {
    position: fixed;
}

/* End Header */

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 250px;
}
/* Cart */
.heading {
    text-align: left !important;
}

.center {
    text-align: center;
}

.box-cart {
    /* display: flex; */
    justify-content: center;
    justify-items: center;
}

.img-cart {
    max-width: 100px;
}

.text-right {
    line-height: 91px;
}

.ip-quantity {
    width: 50px;
    position: relative;
    bottom: -30px;
}

.btn-update {
    position: relative;
    bottom: -30px;
}

.minus, .plus {
    font-size: 20px;
    cursor: pointer;
}

.num {
    font-size: 20px;
    padding: 0px 5px;
}


/* login */
.icon-fix {
    font-size: 1.6rem;
}

.des-cart {
    height: 400px;
}





/* product list */
a {
    text-decoration: none;
}

/* start Home */
.mt-200 {
    margin-top: 200px;
}

.fix-banner {
    height: 100%;
}

.carousel {
    margin-bottom: 4rem;
}

.marketing .col-lg-3 {
    text-align: center;
}

.img-category {
    width: 100px;
    height: 100px;
}

.img-product-suggest {
    object-fit: contain;
    max-height: 180px;
}

/* end Home */

/* Detail Product */
.img-detail-list {
    object-fit: contain;
    height: 370px;
}
.p-multiple-lines {
    white-space: pre-line;
}


/* End Detail Product */