* {
    box-sizing: border-box;
    /* border: 1px solid; */
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    /* height: 100px; */
}

#logo {
    width: 40px;
    object-fit: cover;
}

img {
    object-fit: cover;
    width: 100%;
    max-width: 175px;
}

.brand {
    width: 24px;
    height: 24px;
    object-fit: cover;
}
/* Cart */
.heading {
    text-align: left !important;
}

.center {
    text-align: center;
}

.img-cart {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#datarow {
    line-height: 147px;
}


/* Cart */